.background-image{
  position: relative;
  top: 0;
  left: 0;
  width: 750px;
  height: 500px;
}

 @media only screen and (max-width: 480px) {
  .background-image {
    width: 400px;
    height: 320px;
  }
} 

.blur-bg-result-bg{
  position: absolute;
  left: 0;
  right: 0;
  text-align: "center";
  z-index: 9;
  width: 750px;
  height: 500px;
  display: "none";
  visibility: hidden;
}
.blur-bg-result{
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 25%;
  text-align: "center";
  z-index: 9;
  width: 750px;
  height: 500px;
}

@media only screen and (max-width: 480px) {
  .blur-bg-result {
    width: 375px;
    height: 420px;
    margin-left: 0;
    padding-right: 0;
  }
} 

.virtual-bg-result-bg{
  position: absolute;
  left: 0;
  right: 0;
  text-align: "center";
  z-index: 9;
  width: 750px;
  height: 500px;
  display: "none";
  visibility: hidden;
}

.virtual-bg-result-change-bg {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 25%;
  text-align: "center";
  z-index: 9;
  width: 750px;
  height: 500px;
}

@media only screen and (max-width: 480px) {
  .virtual-bg-result-change-bg {
    width: 370px;
    height: 320px;
    margin-left: 0;
  }
} 
